.items {
  background-color: #454545;
  padding: 1rem;
}

.items > .items-list {
  display: grid;
  height: auto;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.items > p:first-child > span {
  text-transform: capitalize;
  color: #7bd85f;
}
