.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  padding: 1rem 2rem;
}

.header > nav {
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  justify-content: end;
  column-gap: 3rem;
}

.header > nav > a.active {
  text-decoration: underline;
}
